// Keep the 'edit' links out of the document flow
//.editable {
//  position: relative;
//  .clearfix;
//}
//
//.edit-post {
//  position: absolute;
//  top: -16px;
//  right: 22px;
//  z-index: 9998;
//}
//
//.img .edit-post {
//  position: absolute;
//  top: -22px;
//  right: 22px;
//}
.edit-post a {
  font-size: @font-size-small;
  color: #c74f26;
}

// All images outside of the header need to me responsive
.main img {
  max-width: 100%;
  height: auto;
}


