.attention {
  .clearfix;
  position: relative;
//  top: -@rhythm * 2;
  z-index: 6000;
  margin-top:@rhythm * 2;
//  font-family: @headings-font-family;
  h2 {
    margin-top: 0;
//    font-size: @font-size-h3;
//    font-weight: 900;
  }
  p {
    font-size: 22px;
  }
}

.attention .text {
  .make-md-column(4);
  h2, p {
//    margin: @rhythm * 0.5;
  }
}

.attention .img {
  .make-md-column(8);
  padding-right: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
