.banner {
  background-color: @header-bg;
  font-family: @font-family-sans-serif;
  margin-bottom: 0;
}

.navbar-default .navbar-nav li {
  padding-right: 6px;
  margin-right: 6px;
}

.navbar-default .navbar-nav li:last-child {
  padding-right: 0;
  margin-right: 0;
}

// Center the logo on mobile screens
.banner .site-logo img {
  .center-block;
  float: none;
  // pad out the right side to center it
  padding-right: 46px;
  margin: @rhythm * 0.5 auto;
}

// For small screens give the logo 2 columns and the secondary-header and the
// primary-nav each 10 columns
.banner .site-logo {
  .make-sm-column(2);
}

.banner .header-secondary {
  margin-top: 6px;
  .make-sm-column(10);
}

// Float the secondary navigation to the right of the screen
.header-secondary .te-secondary-navigation {
  float: right;
}

// Display the secondary-nav as a horizontal list
.te-secondary-navigation ul {
  margin-bottom: 6px;
  line-height: 1;
  list-style: none;
  li {
    display: inline-block;
    border-right: 1px solid @link-color;
    padding-right: @rhythm * 0.5;
    margin-right: @rhythm * 0.5;
  }
  li:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0;
  }
  a {
    font-size: 14px;
  }
}

// On screens between @screen-sm-min and 1100px we want the navbar across the bottom
// of the header.
.primary-nav-container {
  clear: both;
  width: 100%;
  .make-sm-column(12);
  margin-top: 0;
}

// Menu button
.navbar-header button {
  float: none;
  color: @link-color;
  margin-top: @rhythm;
}

// Style the dropdown menu
.navbar-nav .dropdown-menu li {
  width: 100%;
}

@media (min-width: @screen-sm-min) {
  // Cancel the 'center-block' so the logo will float to the left on small screens.
  .banner .site-logo img {
    margin-left: 0;
  }
}/*/mediaquery*/

// line up the nav menu with 8 column page layouts when there is room.
@media (min-width: 1200px ) {
  .navbar-default .navbar-nav li:first-child a {
    padding-left: 0;
    margin-left: 0;
  }
}/*/mediaquery*/

// At 1100px we want to move the navbar to the side of the logo
@media (min-width: 1100px) {
  .primary-nav-container,
  .banner .section-heading {
    clear: none;
    .make-sm-column(10);
    margin-top: 94px;
    margin-bottom: 0;
  }
}/*/mediaquery*/