.volunteer-menu {
  margin-top: @rhythm * 0.5;
}

// make the menu-chapters link appear to be active when on the .post-type-archive-chapter page
.post-type-archive-chapter .volunteer-menu .menu-chapters a {
  background: @brand-primary;
  color: #ffffff;
}

// make the .menu-get-involved link appear to be active when on the 'chapters archive'
// page and the 'register' page